.tabs{
    padding:25px;
    .tab-list {
        padding-left: 0;
        background-color: var(--container-color);
        font-size: var(--fontstyle);
        .tab-list-item {
            display: inline-block;
            list-style: none;
            margin-bottom: -1px;
            padding: 0.5rem 0.75rem;
            color:  var(--color);
            border: 1px solid var(--container-color);
          }
          
          .tab-list-active {
            background-color: var( --background-color);
            border: 1px solid var(--container-color);
            color:  var(--color);
          }
      }
}

  
  