.rolesheading{
    font-size: var(--fontstyle);
    margin-bottom: 5px;
    margin-top: 15px;
}
.controlpopup{
    padding: 15px 0px;
}
.btncontainerpopup{
    padding: 15px 0px;
}
.adjust_width{
    max-width: 300px;
    margin-left: 20px;
}
.label{
    color: rgb(170, 167, 167);
    font-size: var(--fontstyle);
    margin-left:10px ;
    margin-bottom: 10px;
}
.padding{
    padding: 0px 10px;
}
.space{
    margin-bottom: 15px;
}
.min-container{
    width: 100%;
    display: flex;
    align-items: center;
  }
  .click_button{
    border-radius: 7px;
    color: var(--color);
    background-color: var(--container-color);;
    width: 90px;
    justify-content: center;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 200px;
    display: flex;
    align-items: center;
    cursor: pointer;
    
  }
  .tableexpand .contenttitle{
    display: flex;
    height: 40px;
    align-items: center;
    padding: 10px;
  }
  .tableexpand .contenttitle .ctitle{
    width: 300px;
    font-weight: bold;
  }
  .tableexpand .contenttitle .cstatus{
    width: 150px;
    font-weight: bold;
  }
  .tableexpand .contenttitle .cpermission{
    width: 500px;
  }
  .tableexpand .contenttitle .cpermission div{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .tableexpand .content{
    display: flex;
    height: 40px;
    
    align-items: center;
    padding: 10px;
  }
  .tableexpand .content .ctitle{
    width: 300px;
  }
  .tableexpand .content .cstatus{
    width: 150px;
  }
  .tableexpand .content .cpermission{
    width: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
