.rolesheading{
    font-size: 15px;
    margin-bottom: 5px;
    margin-top: 15px;
}
.controlpopup{
    padding: 15px 0px;
}
.btncontainerpopup{
    padding: 15px 0px;
}
.adjust_width{
    max-width: 300px;
    margin-left: 20px;
}
.label{
    color: rgb(170, 167, 167);
    font-size: 14px;
    margin-left:10px ;
    margin-bottom: 10px;
}