.rolesContainer1 {
    .formContainer1{
        padding: 20px 0px;
        .selectWrapper {
            display: flex;

            .selectContainer {
                width         : 320px;
                padding       : 0px 10px;
                padding-bottom: 10px;
                padding-top   : 10px;
            }
        }

        .saveBtn {
            max-width: 130px;
        }

        .moduleWrapper {
            padding: 10px;

            .headingmodule{
                display: flex;
                min-width: 500px;
                max-width: 950px;
                border: 1px solid #ccc;
                padding: 0px 20px;
                align-items: center;
                height: 45px;
                .mTitle{
                    width: 300px;
                    font-weight: bold;
                }
                .mStatus{
                    width: 150px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-weight: bold;
                }
                .mPermission{
                    width: 500px;
                    div{
                        display: flex;
                        justify-content: space-around;
                    }
                }
            }
            .modulelist {
                display: flex;
                padding: 10px;
                min-width: 500px;
                max-width: 950px;
                border: 1px solid #ccc;
                padding: 0px 20px;
                align-items: center;
                height: 45px;
                .mTitle{
                    width: 300px;
                }
                .mStatus{
                    width: 150px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .mPermission{
                    width: 500px;
                    display: flex;
                    justify-content: space-around;
                }
            }
        }
    }
    .tableTitle{
        min-width: 300px;
        max-width: 950px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 40px;
        padding: 0px 20px;
        background-color: var(--container-color);
        
        div{
            font-weight: bold;
        }
    }
    .headingList {
        display         : flex;
        height          : 50px;
        justify-content : space-between;
        align-items     : center;
        min-width       : 300px;
        max-width       : 950px;
        background-color: #dfdfdf;
        padding         : 0px 20px;
        
        .title {
            text-decoration: underline;
            cursor         : pointer;
        }
    }
    .contentHolder {

        min-width   : 650px;
        max-width   : 950px;

       
        .contenttitle{
            
            .ctitle{
                font-weight: bold;
                width: 300px;
            }
            .cstatus{
                font-weight: bold;
                width: 150px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .cpermission{
                width: 500px;
                div{
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                }
            }
        }
        .modulelist {
            display: flex;
            padding: 10px;
            min-width: 500px;
            max-width: 950px;
            padding: 0px 20px;
            align-items: center;
            height: 45px;
            .mTitle{
                width: 300px;
            }
            .mStatus{
                width: 150px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .mPermission{
                width: 500px;
                display: flex;
                justify-content: space-around;
            }

        }
        .tableexpand .content{
            display: flex;
            height: 40px;
            border-bottom: 1px solid #ccc;
            align-items: center;
            padding: 10px;
          }
    }
}