
@import "../../assets/constant/color";
@import "../../assets/constant/mixin";
.folder-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-left: -15px;
  margin-top: 5px;
  
  .folder-container.selected {
    width: 245px;
    padding: 20px 10px;
    cursor: pointer;
    .topcontainer {
      width: 100%;
      height: 20px;
      background-color: $color-title-white;
      position: relative;
      border-top-left-radius: 20px;
      .whitecontainer {
        position: absolute;
        width: 160px;
        height: 20px;
        background-color: $color-title-white;
        right: 0px;
        border-top: 20px solid #ffffff;
        border-left: 20px solid transparent;
      }
    }
    .main-container {
      width: 100%;
      height: 140px;
      background-color: $color-title-white;
      border-radius: 0px 20px 20px 20px;
      .first-container {
        @include flex-start-align;
        padding: 20px;
        .imgholder {
          width: 45px;
          height: 45px;
          background-color: $color-purewhite;
          border-radius: 50%;
          margin-right: 10px;
          svg {
            width: 20px;
          }
        }
        span {
          font-weight: 500;
          color: $color-text;
          font-family: $color-FontFamily;
          font-size: var(--fontstyle);
        }
      }
      .second-container {
        @include spacebetween-end;
        padding: 7px 20px;
        color: $color-text;
        .folderview {
          display: flex;
          flex-direction: column;

          .folder {
            font-size: var(--fontstyle);
            margin-bottom: 5px;
            text-transform: uppercase;
            color: rgba(131, 129, 129, 0.6);
          }
          .viewname {
            font-size: var(--fontstyle);
          }
        }
        .knowmore {
          font-size: 9px;
          color:rgba(131, 129, 129, 0.6);
          svg {
            width: 10px;
            margin-left: 10px;
            path {
              fill: rgba(131, 129, 129, 0.6);
            }
          }
        }
      }
    }
  }
  .folder-container.selected:hover {
    .topcontainer {
      background-color: $color-background;
      .whitecontainer {
        background-color: $color-background;
      }
    }
    .main-container {
      background-color: $color-background;
      .first-container{
        span{
          color: $color-purewhite !important;
        }
      }
      .second-container{
        color: $color-purewhite;
      }
    }

  }
  .folder-container.unselected {
    width: 260px;
    padding: 20px 15px;
    .topcontainer {
      width: 100%;
      height: 20px;
      background-color: $color-white;
      position: relative;
      border-top-left-radius: 20px;
      .whitecontainer {
        position: absolute;
        width: 160px;
        height: 20px;
        background-color: $color-white;
        right: 0px;
        border-top: 20px solid $color-purewhite;
        border-left: 20px solid transparent;
      }
    }
    .main-container {
      width: 100%;
      height: 140px;
      background-color: $color-white;
      border-radius: 0px 20px 20px 20px;
      .first-container {
        @include flex-start-align;
        padding: 20px;
        .imgholder {
          width: 45px;
          height: 45px;
          background-color: $color-purewhite;
          border-radius: 50%;
          margin-right: 10px;
          svg {
            width: 20px;
          }
        }
        span {
          font-weight: 500;
          color: $color-black;
          font-family: $color-FontFamily;
          font-size:var(--fontstyle);
        }
      }
      .second-container {
        @include spacebetween-end;
        padding: 7px 20px;
        color: $color-black;
        .folderview {
          display: flex;
          flex-direction: column;

          .folder {
            font-size: 8px;
            margin-bottom: 5px;
            text-transform: uppercase;
            color: $color-black;
          }
          .viewname {
            font-size: var(--fontstyle);
          }
        }
        .knowmore {
          font-size: 9px;
          color: $color-black;
          cursor: pointer;
          svg {
            width: 10px;
            margin-left: 10px;
            path {
              fill: $color-black;
            }
          }
        }
      }
    }
  }
}
