.section {
  background: #ffffff;
  border-radius: 10px;
  padding: 30px;
  margin-top: 20px;
}
.flitercontainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 100px;
}
.filter-drop {
  max-width: 320px;
}
.filter-reset {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 160px;
}
.filter-datepicker {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 190px;
}
.filter {
  background: #6b7bc7;
  border-radius: 10px;
}
.filtericon {
  background-color: #f17f21;
  width: 57px;
  height: 52px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.date-container {
  background-color: #6b7bc7;
  width: 151px;
  height: 41px;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 34px;
  border: 1px solid #f5f5f5;
}
.datetext {
  font-size: var(--fontstyle);
  font-family: "Poppins";
  font-weight: 400;
  font-style: normal;
  color: #fff;
}
.dateimage {
  margin-left: 11px;
}
.card-box {
  background: #ffffff;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.card-data {
  color: #000000;
  padding-left: 10px;
}
.card-data p {
  margin: 0;
}
.card-icon {
  padding: 10px;
  background: #fbf5f5;
  border-radius: 5px;
}
.tracking-content {
  background: #f9f9f9;
  border-radius: 7px;
  padding: 20px;
}
.tracking-box {
  display: flex;
  background: #ffffff;
  border-radius: 3px;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  margin-bottom: 15px;
}

.tracking-box p {
  margin: 0;
}
.tracking-box-sno {
  width: 60px;
  text-align: center;
  border-right: 1px solid #efefef;
}
.tracking-box-sno p {
  font-size:var(--fontstyle);
  color: #000000;
}
.tracking-box-data {
  font-size: var(--fontstyle);
  color: #858282;
  display: flex;
  width: 100%;
  padding-left: 20px;
}
.tracking-box-data p {
  font-size: var(--fontstyle);
  color: #858282;
}
.tracking-box-data p span {
  font-size: var(--fontstyle);
  color: #000000;
  margin-left: 5px;
}
.tracking-box-icon {
  width: 60px;
  text-align: center;
}

.section-accordian {
  transition: opacity 1s ease-out;
  opacity: 0;
  height: 0;
  overflow: hidden;
}
.section-accordian.active {
  opacity: 1;
  height: auto;
  padding: 30px 10px;
}

.summary-action {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px 15px;
  background: #f9f9f9;
  border-radius: 3px;
  align-items: center;
}
.summary-action p {
  margin: 0;
  color: #858282;
  font-size:var(--fontstyle);
  line-height: 21px;
  display: inline-flex;
  padding-right: 10px;
}

.summary-action p img {
  margin-right: 10px;
}
.summary-action p span {
  margin-left: 5px;
  color: #000000;
}
.summary-action img.active {
  transform: rotate(180deg);
}

.summary-action img {
  cursor: pointer;
}

.legends {
  display: flex;
  justify-content: space-around;
  width: 50%;
}
.legends ul {
  padding: 0;
  margin: 0;
}

.legends ul li {
  font-weight: normal;
  font-size: var(--fontstyle);
  letter-spacing: 0.2px;
  color: #172b4d;
  list-style-type: none;
  padding: 10px;
}
.legends ul li svg {
  margin-right: 20px;
}
.chartBox {
  display: flex;
  align-items: center;
  justify-content: center;
}
.charts {
  height: 400px;
  width: 50%;
  align-items: center;
  display: flex;
  justify-content: center;
}
.stage-section {
  padding: 0;
  background: transparent;
}

.summary-action-left {
  display: flex;
  justify-content: space-between;
  width: 90%;
  align-items: center;
  align-self: center;
}
.seperator {
  color: #b1adad4a !important;
}

.failedText {
  color: #f6726e !important;
}
.successText {
  color: #0c8559 !important;
}
.anomaly-content {
  background: #f9f9f9;
  border-radius: 7px;
  padding: 20px;
}
.row-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}
.title-date {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: var(--fontstyle);
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #727272;
  width: 18%;
  text-align: center;
}
.title-desc {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: var(--fontstyle);
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #727272;
  width: 75%;
  padding-left: 4%;
}
.row-content {
  min-height: 62px;
  height: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 41px;
  margin-bottom: 26px;
}
.divider-line {
  width: 2px;
  height: 38px;
  background-color: #eaeaea;
}
.date-content {
  display: flex;
  align-items: center;
  width: 18.25%;
  justify-content: center;
}
.row-accordian {
  width: 41px;
  min-height: 62px;
  height: 100%;
  background: #6b7bc7;
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
}
.date-anomaly {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size:var(--fontstyle);
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #000000;
}
.desc-anomaly {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: var(--fontstyle);
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #757575;
  width: 78.5%;
  padding-left: 4%;
}
.img-accordion {
  width: 18.5px;
  cursor: pointer;
}
.anomaly-minimize {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.minimize-container {
  cursor: pointer;
}
.minimize-text {
  font-style: normal;
  font-weight: normal;
  font-size:var(--fontstyle);
  line-height: 21px;
  letter-spacing: 0.2px;
  color: #5f6061;
}
.minimize-img {
  margin-left: 12px;
}
.minimize-container img.active {
  transform: rotate(180deg);
}
.anomaly-expand {
  display: flex;
  justify-content: center;
}
.highlights {
  margin: 0;
  padding-left: 85px;
}
.highlights li {
  list-style-type: auto;
}
.highlights li p {
  padding-left: 10px;
}
